@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "roboto"; */
  font-family: "Noto Serif Georgian", Verdana;
  margin-top: "300px";
}

div,
button,
input {
  /* @apply border-2 border-black; */
}

.title {
  @apply text-4xl font-bold  mb-4 mt-8 flex justify-center;
}
.sub-title {
  @apply text-2xl font-bold  mb-4 mt-8 flex justify-center;
}
button {
  @apply border-2 rounded-md border-black p-2;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Remove scrollbar space */
}
.nav-button {
  @apply font-bold border-2 rounded-md border-black p-2 hover:scale-105 duration-100;
}
.center-absolute {
  @apply absolute  top-1/2 left-1/2  -translate-x-1/2 -translate-y-1/2;
}

/* Smooth scrolling on hover */
.scroll-smooth {
  scroll-behavior: smooth;
}

/* Scroll animation */
.scroll-auto:hover {
  animation: scrollLeft 10s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

html[dir="rtl"] {
  direction: rtl;
}
